footer.footer.bg-dark.text-light.py-3.fixed-bottom
  .container
    .row.align-items-center
      .col-md-6
        p.mb-0 © 2024 My Website. All rights reserved.
      .col-md-6.text-md-right
        ul.list-inline.mb-0
          li.list-inline-item
            a(href='#') Privacy Policy
          li.list-inline-item
            a(href='#') Terms of Use
          li.list-inline-item
            a(href='#') About Us
