extends layout

block content
  body
    .container.mt-5
      .row
        .col-md-12
          h1.text-danger Error
          if error && error.message
            h2= error.message
          else
            h2 An unknown error occurred
          if error && error.details
            h3 Details
            pre= error.details
          else
            p No additional error details are available.
